In [31]:
import pandas as pd
import datetime as datetime
import numpy as np
df = pd.read_csv('production_line_optimization_first_log.csv')
df_sanitized = df.drop(df.columns[0], axis=1).drop_duplicates()
df_sorted = df_sanitized.sort_values(by=["line"])

def toMilli(time): return (datetime.datetime.fromisoformat(time)-datetime.datetime.utcfromtimestamp(0)).total_seconds()
dfArrA = []
dfArrB = []
dfArrC = []
dfArrD = []
for x in range (1,22):
    dfArrA.append(df_sanitized[df_sanitized["job_id"] == x].sort_values(by=["time"]))
for x in range (22,40):
   dfArrB.append(df_sanitized[df_sanitized["job_id"] == x].sort_values(by=["time"]))
for x in range (40,66):
   dfArrC.append(df_sanitized[df_sanitized["job_id"] == x].sort_values(by=["time"]))
for x in range (66,74):
   dfArrD.append(df_sanitized[df_sanitized["job_id"] == x].sort_values(by=["time"]))


dfAllA = pd.concat(dfArrA).sort_values(["time"])

dfAllA = dfAllA.drop(columns=["line"])
dfAllA.sort_values(by=["module", "job_id", "time"], inplace=True)
dfAllA
mapping = {"fetching_job": 1, "processing": 2, "waiting_on_precedent":0, "storing_job": 4, "waiting_on_next": 3, "idle": 5}
dfAllA = dfAllA.replace(mapping)
dfAllA["time"] = dfAllA["time"].apply(lambda x: toMilli(x))
dfAllA

      module  job_id  state          time
1248       1       1      1  1.645146e+09
949        1       1      2  1.645147e+09
1044       1       1      4  1.645150e+09
750        1       2      1  1.645151e+09
1031       1       2      2  1.645151e+09
...      ...     ...    ...           ...
216        3      20      2  1.645225e+09
906        3      21      0  1.645227e+09
33         3      21      1  1.645228e+09
45         3      21      2  1.645228e+09
465        3      21      5  1.645231e+09

[198 rows x 4 columns]